[
 %% write log files to sasl_dir
 {sasl,
  [
   {sasl_error_logger, {file, "/tmp/easy_cache.sasl_log"}}
  ]},
 {easy_cache,
  [
   %% Contact nodes for use in joining a cloud  
   {contact_nodes, ['contact1@localhost', 'contact2@localhost']}
  ]},
 {tcp_interface,
  [
   %% Contact nodes for use in joining a cloud  
   {port, 1500}
  ]}
].
